<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>DIDKit Flask</title>
  </head>
  <body class="flex flex-col items-center justify-center h-screen w-screen">
    <form class="flex items-center justify-center mb-4" method="get" action="/issue_vc">
      <button
        class="h-12 p-2 border border-blue-900 rounded"
        type="submit"
      >
        Issue Verifiable Credential
      </button>
    </form>
    <form class="flex items-center justify-center mb-4" method="get" action="/verify_vc">
      <button
        class="h-12 p-2 border border-blue-900 rounded"
        type="submit"
      >
        Verify Verifiable Credential
      </button>
    </form>
    <form class="flex items-center justify-center mb-4" method="get" action="/issue_vp">
      <button
        class="h-12 p-2 border border-blue-900 rounded"
        type="submit"
      >
        Issue Verifiable Presentation
      </button>
    </form>
    <form class="flex items-center justify-center mb-4" method="get" action="/verify_vp">
      <button
        class="h-12 p-2 border border-blue-900 rounded"
        type="submit"
      >
        Verify Verifiable Presentation
      </button>
    </form>
  </body>
</html>